.score-frames {
    display: flex;
    min-height: 50px;
}

.score-frame {
    width: 10%;
    border: 1px solid;
}

.turn-score {
    display: flex;
    height: 35%;
    background-color: #9984d2;
    color: #e6e607;
    text-shadow: 2px 2px 4px #000;
}

.first-turn {
    width: 50%;
}

.second-turn, .third-turn {
    width: 50%;
}

.frame-total {
    font-size: 1.5rem;
    height: 65%;
    background-color: #9984d2;
    opacity: 0.5;
    color: #FFF;
    text-shadow: 2px 2px 4px #000;
}